/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #2c3e50;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
header li{
    list-style: none;
}

header a{
    color: whitesmoke;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: green;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:700px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #2c3e50;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 17px 0;
    }
    .nav-menu.active{
        right: 0% !important;
    }
    .footer-content{
        flex-direction: column;
    }
}

footer {
    background-color: #2c3e50;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.footer-content p {
    margin: 0;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 2px 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #27ae60; /* Change this color as per your theme */
}