/* Suppliers Section */
#hero-suppliers {
    padding: 0px 20px; /* Added extra padding at the top for navbar space */
    background-color: white;
    text-align: center;
}
.hero-content h1 {
    padding-top: 70px;
}

#suppliers {
    margin: 0 auto;
    padding: 10px 100px;
}

.industry-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;    
}

.industry{
    width: 26%;
    color: #27ae60;
    background-color: blanchedalmond;
    text-align: center;
    min-height: 200px;
    padding-top: 50px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
}
.industry p{
    color: black;
}
@media(max-width:700px){
    .industry-row{
        flex-direction: column;
        width: 90%;
    }
    .industry{
        width: 100%;
        margin: 10px auto;
    }
}